  <launch>
     <!-- Turtlesim Node-->
    <node pkg="turtlesim" type="turtlesim_node" name="sim"/>

    <node pkg="turtlesim" type="turtle_teleop_key" name="teleop" output="screen"/>
    <!-- Axes -->
    <param name="scale_linear" value="2" type="double"/>
    <param name="scale_angular" value="2" type="double"/>

    <node pkg="learning_tf2" type="turtle_tf2_broadcaster"
          args="/turtle1" name="turtle1_tf2_broadcaster" />
    <node pkg="learning_tf2" type="turtle_tf2_broadcaster"
          args="/turtle2" name="turtle2_tf2_broadcaster" />
    <node pkg="learning_tf2" type="turtle_tf2_broadcaster"
          args="/turtle3" name="turtle3_tf2_broadcaster" />
    <node pkg="learning_tf2" type="turtle_tf2_broadcaster"
          args="/turtle4" name="turtle4_tf2_broadcaster" />

    <node pkg="learning_tf2" type="turtle_tf2_listener"
          args="turtle1 turtle2"   name="listener12" />
    <node pkg="learning_tf2" type="turtle_tf2_listener"
          args="turtle2 turtle3"   name="listener23" />
    <node pkg="learning_tf2" type="turtle_tf2_listener"
          args="turtle3 turtle4"   name="listener34" />  
          
    <node pkg="learning_tf2" type="frame_tf2_broadcaster"
          name="broadcaster_frame" />      

  </launch>